APP_NAME=Buzzpay
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

# PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=sqlite
# DB_HOST=127.0.0.1
# DB_PORT=3306
# DB_DATABASE=laravel
# DB_USERNAME=root
# DB_PASSWORD=

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=database
# CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=log
MAIL_SCHEME=null
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"

STATUM_BASE_URL=https://api.statum.co.ke/api/v2
STATUM_CONSUMER_KEY=258f2844f308bb34f0382f6b43afa57c6a6
STATUM_CONSUMER_SECRET=258bb53c35a2cf649a7a733ff3e24dca746
STATUM_USERNAME=
STATUM_PASSWORD=
STATUM_TIMEOUT=30
STATUM_WEBHOOK_SECRET=

MPESA_OAUTH_URL=https://api.safaricom.co.ke/oauth/v1/generate
MPESA_B2C_URL=https://api.safaricom.co.ke/mpesa/b2c/v3/paymentrequest
MPESA_B2B_URL=https://api.safaricom.co.ke/mpesa/b2b/v1/paymentrequest
MPESA_ENVIRONMENT=production
MPESA_CONSUMER_KEY=
MPESA_CONSUMER_SECRET=
MPESA_INITIATOR_NAME=
MPESA_INITIATOR_PASSWORD=
MPESA_SECURITY_CREDENTIAL=
MPESA_B2B_INITIATOR_NAME=
MPESA_B2B_SECURITY_CREDENTIAL=
MPESA_SHORTCODE=
MPESA_RESULT_URL=https://yourdomain.com/api/b2c/result
MPESA_TIMEOUT_URL=https://yourdomain.com/api/b2c/timeout
MPESA_B2B_RESULT_URL=https://yourdomain.com/api/mpesa/b2b/result
MPESA_B2B_TIMEOUT_URL=https://yourdomain.com/api/mpesa/b2b/timeout
MPESA_B2B_TILL_ACCOUNT_REFERENCE=TILLPAY
MPESA_PUBLIC_KEY_PATH=
MPESA_CALLBACK_ALLOWED_IPS=
MPESA_B2B_CALLBACK_ALLOWED_IPS=
MPESA_B2B_CALLBACK_BASIC_AUTH_USER=
MPESA_B2B_CALLBACK_BASIC_AUTH_PASSWORD=
MPESA_B2B_RETRY_ATTEMPTS=3
MPESA_TIMEOUT=30
MPESA_STK_SHORTCODE=
MPESA_STK_PASSKEY=
MPESA_STK_CALLBACK_URL=https://yourdomain.com/api/mpesa/stk/callback
MPESA_STK_INITIATOR_NAME=
MPESA_STK_TIMEOUT=30
MPESA_STK_CALLBACK_ALLOWED_IPS=
MPESA_STK_RETRY_ATTEMPTS=3
MPESA_STK_URL=
